[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = sushat4692
	email = sush@sus-happy.net
[gitflow]
	multi-hotfix = true
[pull]
	ff = only
